{{- if gt .Values.deployment.replicaCount 1.0 }}
{{- if $.Capabilities.APIVersions.Has "policy/v1/PodDisruptionBudget" }}
apiVersion: policy/v1
{{- else -}}
apiVersion: policy/v1beta1
{{- end }}
kind: PodDisruptionBudget
metadata:
  name: {{ include "estafette-ci-api.fullname" . }}
  labels:
    {{- include "estafette-ci-api.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "estafette-ci-api.selectorLabels" . | nindent 6 }}
  maxUnavailable: 1
{{- end }}