# https://estafette.io/usage/manifest/
labels:
  container: {{.ContainerNamePlaceholder}}
  team: {{.TeamNamePlaceholder}}
  language: docker

version:
  semver:
    major: 0
    minor: 0

stages:
  bake:
    image: extensions/docker:stable
    action: build
    container: ${ESTAFETTE_LABEL_CONTAINER}
    repositories:
    - {{.DefaultDockerRepository}}

  integration-test:
    image: {{.DefaultDockerRepository}}/${ESTAFETTE_LABEL_CONTAINER}:${ESTAFETTE_BUILD_VERSION}

  push-to-docker-registry-for-branch:
    image: extensions/docker:stable
    action: push
    container: ${ESTAFETTE_LABEL_CONTAINER}
    repositories:
    - {{.DefaultDockerRepository}}
    tags:
    - ${ESTAFETTE_GIT_BRANCH}
    when:
      status == 'succeeded' &&
      branch != 'master

  push-to-docker-registry-for-master:
    image: extensions/docker:stable
    action: push
    container: ${ESTAFETTE_LABEL_CONTAINER}
    repositories:
    - {{.DefaultDockerRepository}}
    tags:
    - latest
    when:
      status == 'succeeded' &&
      branch == 'master

  slack-notify:
    image: extensions/slack-build-status:stable
    workspace: {{.SlackWorkspace}}
    channels:
    - '#builds-${ESTAFETTE_LABEL_TEAM}'
    when:
      status == 'failed'