# https://estafette.io/usage/manifest/
labels:
  team: {{.TeamNamePlaceholder}}
  language: dotnet-core

version:
  semver:
    major: 0
    minor: 0

stages:
  restore:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    env:
      PRIVATE_NUGET_SOURCE: {{.PrivateNugetSource}}
    commands:
    - dotnet restore --source https://www.nuget.org/api/v1 --source ${PRIVATE_NUGET_SOURCE} --packages .nuget/packages

  build:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    commands:
    - dotnet build --configuration Release /p:Version=${ESTAFETTE_BUILD_VERSION} --no-restore

  unit-tests:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    commands:
    - dotnet test --configuration Release --no-build test/**/*.UnitTests.csproj

  integration-tests:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    commands:
    - dotnet test --configuration Release --no-build test/**/*.IntegrationTests.csproj

  publish:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    commands:
    - dotnet publish src/*.WebService --configuration Release --runtime linux-x64 /p:Version=${ESTAFETTE_BUILD_VERSION} --output ${PWD}/publish --no-restore

  bake:
    image: extensions/docker:stable
    action: build
    repositories:
    - {{.DefaultDockerRepository}}
    path: ./publish

  integration-test:
    image: {{.DefaultDockerRepository}}/${ESTAFETTE_GIT_NAME}:${ESTAFETTE_BUILD_VERSION}

  push-to-docker-registry:
    image: extensions/docker:stable
    action: push
    repositories:
    - {{.DefaultDockerRepository}}

  slack-notify:
    image: extensions/slack-build-status:stable
    workspace: {{.SlackWorkspace}}
    channels:
    - '#builds-${ESTAFETTE_LABEL_TEAM}'
    when:
      status == 'failed'

releases:
  beta:
    stages:
      tag-container-image:
        image: extensions/docker:stable
        action: tag
        repositories:
        - {{.DefaultDockerRepository}}
        tags:
        - beta

      slack-notify:
        image: extensions/slack-build-status:stable
        workspace: estafette
        channels:
        - '#build-status'
        when:
          status == 'succeeded' ||
          status == 'failed'

  stable:
    stages:
      tag-container-image:
        image: extensions/docker:stable
        action: tag
        repositories:
        - {{.DefaultDockerRepository}}
        tags:
        - stable
        - latest

      slack-notify:
        image: extensions/slack-build-status:stable
        workspace: estafette
        channels:
        - '#build-status'
        when:
          status == 'succeeded' ||
          status == 'failed'