# https://estafette.io/usage/manifest/
labels:
  team: {{.TeamNamePlaceholder}}
  language: dotnet-core

version:
  semver:
    major: 0
    minor: 0

stages:
  restore:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    env:
      PRIVATE_NUGET_SOURCE: {{.PrivateNugetSource}}
    commands:
    - dotnet restore --source https://www.nuget.org/api/v1 --source ${PRIVATE_NUGET_SOURCE} --packages .nuget/packages

  build:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    commands:
    - dotnet build --configuration Release /p:Version=${ESTAFETTE_BUILD_VERSION} --no-restore

  unit-tests:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    commands:
    - dotnet test --configuration Release --no-build test/**/*.UnitTests.csproj

  pack:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    commands:
    - dotnet pack --configuration Release /p:Version=${ESTAFETTE_BUILD_VERSION} --no-restore

  push:
    image: mcr.microsoft.com/dotnet/core/sdk:2.2
    env:
      PRIVATE_NUGET_SOURCE: {{.PrivateNugetSource}}
    commands:
    - dotnet nuget push src/**/*.nupkg --source ${PRIVATE_NUGET_SOURCE}

  slack-notify:
    image: extensions/slack-build-status:stable
    workspace: {{.SlackWorkspace}}
    channels:
    - '#builds-${ESTAFETTE_LABEL_TEAM}'
    when:
      status == 'failed'